#investments td {
  vertical-align: middle;
}

.active {
  background: lightblue;
}

img {
  cursor: pointer;
}

thead {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

thead > tr > th {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-top-bottom-md {
  padding-top: 30px;
  padding-bottom: 30px;
}

.btn-add {
  background: transparent;
  width: 100%;
  border: none;
  border-top: 2px solid lightgrey;
  border-bottom: 3px solid lightgrey;
  color: #28c9d1;
  font-size: 16px;
}

.btn-add:hover {
  background: lightblue;
  color: white;
}

.btn-save {
  background-color: #7bbf28;
  padding: 15px 30px;
  border-radius: 8px;
  border: 1px solid grey;
  color: white;
  font-weight: bold;
}

.btn-cancel {
  background: transparent;
  border: none;
}
